@{ ViewBag.Title = "Home Page"; }
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Mamba Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

</head>

<body>

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

                <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <!-- Slide 1 -->
                    <div class="carousel-item active" style="background-image: url('../../assets/img/slide/slide-1.jpg');">
                        <div class="carousel-container">
                            <div class="carousel-content container">
                                <h2 class="animate__animated animate__fadeInDown">Bem vindo ao <span>30Code</span></h2>
                                <p class="animate__animated animate__fadeInUp">O 30Code tem como objetivo trazer à comunidade um novo meio para se estudar e consultar materiais da área de programação de forma dinâmica e divertida, onde os usuários interessados poderão aprender o conteúdo desejado sem o peso de longos textos e estudos teóricos, estabelecendo uma rotina de breves leituras e exercícios.</p>
                                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="carousel-item" style="background-image: url('../../assets/img/slide/slide-2.jpg'); ">
                        <div class="carousel-container">
                            <div class="carousel-content container">
                                <h2 class="animate__animated animate__fadeInDown">Aulas remotas, dinâmicas e práticas. Tudo 100% online!</h2>
                                <p class="animate__animated animate__fadeInUp">A mesma experiencia de aprendizado da sala de aula, disponivel somente aqui na 30Code.</p>
                                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Junte-se a nós!</a>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 3 -->
                    <div class="carousel-item" style="background-image: url('../../assets/img/slide/slide-3.jpg');">
                        <div class="carousel-container">
                            <div class="carousel-content container">
                                <h2 class="animate__animated animate__fadeInDown">Beneficios e condições exclusivas através do plano premium</h2>
                                <p class="animate__animated animate__fadeInUp">Confire a lista de vantagens, venha fazer parte da transformação digital da sua carreira!!</p>
                                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                            </div>
                        </div>
                    </div>

                </div>

                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Recursos</h2>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <div class="icon"><i class="icofont-computer"></i></div>
                        <h4 class="title"><a href="">Multiplataforma</a></h4>
                        <p class="description">Nosso sistema abrange todos as plataformas: mobile, desktop e web.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
                        <h4 class="title"><a href="">Estatistica de desempenho</a></h4>
                        <p class="description">Ao final do curso será mostrado um desempenho do aluno no curso</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="icofont-earth"></i></div>
                        <h4 class="title"><a href="">Certificado reconhecido nascionalmente</a></h4>
                        <p class="description">Nosso certificado é reconhecido em todo territorio brasileiro, sendo referencia nas empresas.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="icofont-video"></i></div>
                        <h4 class="title"><a href="">Video Aulas atualizadas</a></h4>
                        <p class="description">Nós fornecemos conteudo em video gravado por professores capacitados para melhor entendimento do aluno.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="icofont-book-alt"></i></div>
                        <h4 class="title"><a href="">Apostilas atualizadas</a></h4>
                        <p class="description">Todos os nossos cursos oferecem apostilas detalhadas de todos os assuntos abordados</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon"><i class="icofont-tasks-alt"></i></div>
                        <h4 class="title"><a href="">Calendario flexivel</a></h4>
                        <p class="description">Nós proporcionamos uma rotina flexivel para o estudo, podendo estudar de todos os lugares, garantido melhor absorção.</p>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->
        <!-- ======= Our Portfolio Section ======= -->
        <section id="portfolio" class="portfolio section-bg">
            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="section-title">
                    <h2>Nossos cursos</h2>
                    <p>
                        Nossos cursos são divididos em 3 módulos, basico, intermediario e avançado, cada dia você terá uma apostila, video aula e
                        exercicios para te preparar para a prova do dia, após concluir a prova do dia você irá desbloquear o próximo.
                    </p>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-app">Back</li>
                            <li data-filter=".filter-card">Front</li>
                            <li data-filter=".filter-web">Banco</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/Cursos/java.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Java</h4>
                                <p>curso do basico ao avançado</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/Cursos/java.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-eye"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/Cursos/cpp.png" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>C++</h4>
                                <p>curso do basico ao avançado</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/Cursos/c++.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="icofont-eye"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/Cursos/javascript.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>JavaScript</h4>
                                <p>curso do basico ao avançado</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/Cursos/javascript.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="icofont-eye"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/Cursos/Kotilin.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Kotilin</h4>
                                <p>curso do basico ao avançado</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/Cursos/Kotilin.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="icofont-eye"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/Cursos/mysql.png" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>MySql</h4>
                                <p>curso do basico ao avançado</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/Cursos/mysql.png" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="icofont-eye"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/Cursos/nodejs.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>NodeJs</h4>
                                <p>curso do basico ao avançado</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/Cursos/nodejs.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="icofont-eye"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/Cursos/oracle.png" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Oracle DataBase</h4>
                                <p>curso do basico ao avançado</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/Cursos/oracle.png" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="icofont-eye"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/Cursos/PHP.png" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>PHP</h4>
                                <p>curso do basico ao avançado</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/Cursos/PHP.png" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="icofont-eye"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/Cursos/python.png" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Python</h4>
                                <p>curso do basico ao avançado</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/Cursos/python.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="icofont-eye"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="icofont-external-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Our Portfolio Section -->
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row no-gutters">
                    <div class="col-lg-6 video-box">
                        <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

                        <div class="section-title">
                            <h2>Sobre nós</h2>
                            <p>Nós somos um grupo de jovens que começaram na instituição de ensino Fatec-Guaratinguetá com o objetivo de trazer conteúdos dinâmicos e interativos para todos.</p>
                        </div>

                        @*<div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon"><i class="bx bx-fingerprint"></i></div>
                                <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                            </div>

                            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon"><i class="bx bx-gift"></i></div>
                                <h4 class="title"><a href="">Nemo Enim</a></h4>
                                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                            </div>*@

                    </div>

                </div>

            </div>
        </section><!-- End About Us Section -->
        <!-- ======= About Lists Section ======= -->
        <!--<section class="about-lists">
            <div class="container">

                <div class="row no-gutters">

                    <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
                        <span>01</span>
                        <h4>Lorem Ipsum</h4>
                        <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
                    </div>

                    <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
                        <span>02</span>
                        <h4>Repellat Nihil</h4>
                        <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
                    </div>

                    <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
                        <span>03</span>
                        <h4> Ad ad velit qui</h4>
                        <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
                    </div>

                    <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
                        <span>04</span>
                        <h4>Repellendus molestiae</h4>
                        <p>Inventore quo sint a sint rerum. Distinctio blanditiis deserunt quod soluta quod nam mider lando casa</p>
                    </div>

                    <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="400">
                        <span>05</span>
                        <h4>Sapiente Magnam</h4>
                        <p>Vitae dolorem in deleniti ipsum omnis tempore voluptatem. Qui possimus est repellendus est quibusdam</p>
                    </div>

                    <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="500">
                        <span>06</span>
                        <h4>Facilis Impedit</h4>
                        <p>Quis eum numquam veniam ea voluptatibus voluptas. Excepturi aut nostrum repudiandae voluptatibus corporis sequi</p>
                    </div>

                </div>

            </div>
        </section>-->
        <!-- End About Lists Section -->
        <!-- ======= Counts Section ======= -->
        <section class="counts section-bg">
            <div class="container">

                <div class="row">

                    <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
                        <div class="count-box">
                            <i class="icofont-simple-smile" style="color: #20b38e;"></i>
                            <span data-toggle="counter-up">232</span>
                            <p>Clientes satisfeitos</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="count-box">
                            <i class="icofont-document-folder" style="color: #c042ff;"></i>
                            <span data-toggle="counter-up">521</span>
                            <p>Cursos</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
                        <div class="count-box">
                            <i class="icofont-live-support" style="color: #46d1ff;"></i>
                            <span data-toggle="counter-up">1,463</span>
                            <p>Horas de estudos</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
                        <div class="count-box">
                            <i class="icofont-users-alt-5" style="color: #ffb459;"></i>
                            <span data-toggle="counter-up">100</span>
                            <p>Estudantes ativos</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Counts Section -->
        <!-- ======= Our Team Section ======= -->
        <section id="team" class="team">
            <div class="container">

                <div class="section-title">
                    <h2>Nosso time</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem.</p>
                </div>

                <div class="row">

                    <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up">
                        <div class="member">
                            <div class="pic"><img src="~/assets/img/team/eu.jpeg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Rossini Rodriguês Alves</h4>
                                <span>Fundador</span>
                                <div class="social">
                                    <a href=""><i class="icofont-twitter"></i></a>
                                    <a href=""><i class="icofont-facebook"></i></a>
                                    <a href=""><i class="icofont-instagram"></i></a>
                                    <a href=""><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                            <div class="pic"><img src="~/assets/img/team/vinicius.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Vinicius Eklund</h4>
                                <span>Fundador</span>
                                <div class="social">
                                    <a href=""><i class="icofont-twitter"></i></a>
                                    <a href=""><i class="icofont-facebook"></i></a>
                                    <a href=""><i class="icofont-instagram"></i></a>
                                    <a href=""><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                            <div class="pic"><img src="~/assets/img/team/gabriel.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Gabriel Oliveira</h4>
                                <span>Fundador</span>
                                <div class="social">
                                    <a href=""><i class="icofont-twitter"></i></a>
                                    <a href=""><i class="icofont-facebook"></i></a>
                                    <a href=""><i class="icofont-instagram"></i></a>
                                    <a href=""><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Our Team Section -->
        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Perguntas frequentes</h2>
                </div>

                <div class="row  d-flex align-items-stretch">

                    <div class="col-lg-6 faq-item" data-aos="fade-up">
                        <h4>O curso disponibiliza um certificado ao final?</h4>
                        <p>
                            Sim. Ao final de cada curso será disponibilizado um certificado no nome do aluno matriculado.
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="100">
                        <h4>Posso cancelar a qualquer momento meu plano?</h4>
                        <p>
                            Sim. Você tem o direito de cancelar a qualquer hora o seu plano e voltar ao plano free.
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="200">
                        <h4>Quais os beneficios do pacote Premium?</h4>
                        <p>
                            Com ele você pode acessar todos os módulos dos cursos, além de um histórico detalhado de todos os exercicios realizado por você até aqui.
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="300">
                        <h4>Há alguma restrição para se obter o diploma?</h4>
                        <p>
                            Para você receber seu diploma ao final do curso, você deve completar todos os módulos do seu respectivo curso e concluir a prova final com 75% ou mais de aprovação.
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="400">
                        <h4>O que é o 30Code?</h4>
                        <p>
                            É uma plataforma EAD que ensina programação e novas tecnologia na area de TI em um periodo de 30 dias, todo o conteudo perfeitamente divido em varios métodos de ensino para todos os gostos.
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="500">
                        <h4>Como faço para realizar os cursos da 30code?</h4>
                        <p>
                            Os cursos do conteúdo básico é totalmente de graça e o premiun tem total acesso a todos os módulos, você pode acessar no desktop, mobile e tablet.
                        </p>
                    </div>

                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->
        <!-- ======= Contact Us Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contate-nos</h2>
                </div>

                <div class="row">

                    <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="info-box">
                            <i class="bx bx-map"></i>
                            <h3>Nosso endereço</h3>
                            <p>Av. Prof. João Rodrigues, 1501 - Jardim Esperanca, Guaratinguetá - SP 12517-475</p>
                        </div>
                    </div>

                    <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="info-box">
                            <i class="bx bx-envelope"></i>
                            <h3>Contate-nos</h3>
                            <p>30code@gmail.com<br>30code@hotmail.com</p>
                        </div>
                    </div>

                    <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="info-box ">
                            <i class="bx bx-phone-call"></i>
                            <h3>Ligue-nos</h3>
                            <p>+55 (12) 98126 - 4328<br>+55 (12) 3301 - 0072</p>
                        </div>
                    </div>

                    <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
                        <form action="~/forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-row">
                                <div class="col-lg-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validate"></div>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Us Section -->

    </main><!-- End #main -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
</body>

