@model _30Code.Models.Curso

@{ ViewBag.Title = "Aula"; }
<style>
    body {
        /*        background: #f5f9fc;
    */
    }

    .link {
        border: 0;
        cursor: pointer;
        padding: 0;
        width: 100%;
        text-align: justify;
    }

    button,
    button:hover,
    button:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
        outline: none;
        box-shadow: none;
    }

    #sidebar ul li button {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li button:hover {
            color: #7386D5;
            background: #fff;
        }

    #sidebar ul li.active > button {
        color: #fff;
        background: #6959CD;
    }

        #sidebar ul li.active > button:hover {
            color: #7386D5;
            background: #fff;
        }


    ul ul button {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #836FFF;
    }

    ul.CTAs button {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    button.article,
    button.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }










    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    .hidden {
        display: none;
    }

    /* ---------------------------------------------------
                SIDEBAR STYLE
            ----------------------------------------------------- */

    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #6959CD;
        color: #fff;
        transition: all 0.3s;
    }

        #sidebar.active {
            margin-left: -250px;
        }

        #sidebar .sidebar-header {
            padding: 20px;
            background: #836FFF;
        }

        #sidebar ul.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }

        #sidebar ul p {
            color: #fff;
            padding: 0px;
            text-align: center;
        }

    p,
    label {
        font: 1rem 'Fira Sans', sans-serif;
    }

    input {
        margin: .4rem;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #6959CD;
    }

        #sidebar ul li.active > a:hover {
            color: #7386D5;
            background: #fff;
        }

    a[data-toggle="collapse"] {
        position: relative;
    }

    #sidebar .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }


    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #836FFF;
    }

    ul.CTAs {
        padding: 20px;
    }

        ul.CTAs a {
            text-align: center;
            font-size: 0.9em !important;
            display: block;
            border-radius: 5px;
            margin-bottom: 5px;
        }

    a.article,
    a.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }

    /* ---------------------------------------------------
                CONTENT STYLE
            ----------------------------------------------------- */

    #content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }

    /* ---------------------------------------------------
                MEDIAQUERIES
            ----------------------------------------------------- */

    @@media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }

            #sidebar.active {
                margin-left: 0;
            }

        #sidebarCollapse span {
            display: none;
        }
    }
</style>

<!-- Font Awesome JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Programação com Java</h3>
        </div>
        <div style="overflow:scroll;height:1000px;width:100%; overflow:auto;">
            <ul class="list-unstyled components">
                <p>Basico</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 1 - LP</a>
                    <ul id="homeSubmenu" class="collapse list-unstyled">
                        <li>
                            <button class="a link" href="~/Dia2.pdf" onclick="mostrar('div1')">Apostila</button>
                        </li>
                        <li>
                            <button class="a link" href="https://www.youtube.com/embed/aqiB58NpKLw" onclick="mostrar('div1')">Video Aula</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div3')">Exercicios</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div4')">Avaliação diaria</button>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 2 - Variaveis</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu1">
                        <li>
                            <button class="a link" href="~/Dia2.pdf" onclick="mostrar('div1')">Apostila</button>
                        </li>
                        <li>
                            <button class="a link" href="https://www.youtube.com/embed/aqiB58NpKLw" onclick="mostrar('div1')">Video Aula</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div3')">Exercicios</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div4')">Avaliação diaria</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 3 - Strings</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li>
                            <button class="a link" href="~/Dia2.pdf" onclick="mostrar('div1')">Apostila</button>
                        </li>
                        <li>
                            <button class="a link" href="https://www.youtube.com/embed/aqiB58NpKLw" onclick="mostrar('div1')">Video Aula</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div3')">Exercicios</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div4')">Avaliação diaria</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 4 - POO</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu3">
                        <li>
                            <button class="a link" href="~/Dia2.pdf" onclick="mostrar('div1')">Apostila</button>
                        </li>
                        <li>
                            <button class="a link" href="https://www.youtube.com/embed/aqiB58NpKLw" onclick="mostrar('div1')">Video Aula</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div3')">Exercicios</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div4')">Avaliação diaria</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 5 - Instanciação</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu4">
                        <li>
                            <button class="a link" href="~/Dia2.pdf" onclick="mostrar('div1')">Apostila</button>
                        </li>
                        <li>
                            <button class="a link" href="https://www.youtube.com/embed/aqiB58NpKLw" onclick="mostrar('div1')">Video Aula</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div3')">Exercicios</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div4')">Avaliação diaria</button>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="list-unstyled components">
                <p>Intermediario</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 1 - LP</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <button class="a link" href="~/Dia2.pdf" onclick="mostrar('div1')">Apostila</button>
                        </li>
                        <li>
                            <button class="a link" href="https://www.youtube.com/embed/aqiB58NpKLw" onclick="mostrar('div1')">Video Aula</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div3')">Exercicios</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div4')">Avaliação diaria</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 2 - Variaveis</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu1">
                        <li>
                            <button class="a link" href="~/Dia2.pdf" onclick="mostrar('div1')">Apostila</button>
                        </li>
                        <li>
                            <button class="a link" href="https://www.youtube.com/embed/aqiB58NpKLw" onclick="mostrar('div1')">Video Aula</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div3')">Exercicios</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div4')">Avaliação diaria</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 3 - Strings</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li>
                            <button class="a link" href="~/Dia2.pdf" onclick="mostrar('div1')">Apostila</button>
                        </li>
                        <li>
                            <button class="a link" href="https://www.youtube.com/embed/aqiB58NpKLw" onclick="mostrar('div1')">Video Aula</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div3')">Exercicios</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div4')">Avaliação diaria</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 4 - POO</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu3">
                        <li>
                            <button class="a link" href="~/Dia2.pdf" onclick="mostrar('div1')">Apostila</button>
                        </li>
                        <li>
                            <button class="a link" href="https://www.youtube.com/embed/aqiB58NpKLw" onclick="mostrar('div1')">Video Aula</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div3')">Exercicios</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div4')">Avaliação diaria</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 5 - Instanciação</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu4">
                        <li>
                            <button class="a link" href="~/Dia2.pdf" onclick="mostrar('div1')">Apostila</button>
                        </li>
                        <li>
                            <button class="a link" href="https://www.youtube.com/embed/aqiB58NpKLw" onclick="mostrar('div1')">Video Aula</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div3')">Exercicios</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div4')">Avaliação diaria</button>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="list-unstyled components">
                <p>Avançado</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 1 - LP</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <button class="a link" href="~/Dia2.pdf" onclick="mostrar('div1')">Apostila</button>
                        </li>
                        <li>
                            <button class="a link" href="https://www.youtube.com/embed/aqiB58NpKLw" onclick="mostrar('div1')">Video Aula</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div3')">Exercicios</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div4')">Avaliação diaria</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 2 - Variaveis</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu1">
                        <li>
                            <button class="a link" href="~/Dia2.pdf" onclick="mostrar('div1')">Apostila</button>
                        </li>
                        <li>
                            <button class="a link" href="https://www.youtube.com/embed/aqiB58NpKLw" onclick="mostrar('div1')">Video Aula</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div3')">Exercicios</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div4')">Avaliação diaria</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 3 - Strings</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li>
                            <button class="a link" href="~/Dia2.pdf" onclick="mostrar('div1')">Apostila</button>
                        </li>
                        <li>
                            <button class="a link" href="https://www.youtube.com/embed/aqiB58NpKLw" onclick="mostrar('div1')">Video Aula</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div3')">Exercicios</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div4')">Avaliação diaria</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 4 - POO</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu3">
                        <li>
                            <button class="a link" href="~/Dia2.pdf" onclick="mostrar('div1')">Apostila</button>
                        </li>
                        <li>
                            <button class="a link" href="https://www.youtube.com/embed/aqiB58NpKLw" onclick="mostrar('div1')">Video Aula</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div3')">Exercicios</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div4')">Avaliação diaria</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dia 5 - Instanciação</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu4">
                        <li>
                            <button class="a link" href="~/Dia2.pdf" onclick="mostrar('div1')">Apostila</button>
                        </li>
                        <li>
                            <button class="a link" href="https://www.youtube.com/embed/aqiB58NpKLw" onclick="mostrar('div1')">Video Aula</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div3')">Exercicios</button>
                        </li>
                        <li>
                            <button class="a link" href="#" onclick="mostrar('div4')">Avaliação diaria</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Conteúdo</span>
                </button>
            </div>
        </nav>
        <div id="pai">
            <div id="div1" class="hidden">
                @*<iframe src="" style="width: 100%;height: 590px;border: none;"></iframe>
                    </div>
                    <div id="div2" class="hidden">*@
                <iframe style="width:100%; height:590px;" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div id="div3" class="hidden">
                <h1>Exercicio</h1>

                <h4>1) Uma Senhora chamada Maria tem 40 anos de idade,e um programador que declarar uma variavel chamada idade armazenando a idade dela .Qual das alternativas ira retornar a sua idade(em decimal) de forma correta!</h4>
                <form>
                </form>
                <input type="radio" id="questaoA" name="A" value="radio" checked>
                <i for="respotaA">
                    public class Idade{public static void main(String[] args){int idade = 20;System.out.println(idade);}}
                </i>
                <br />
                <input type="radio">
                <i for="respotaB">
                    public class Idade{public static void main(String[] args){int idade;System.out.println(idade);}}
                </i>
                <br />
                <input type="radio">
                <i for="respotaC">
                    public class Idade{public static void main(String[] args){float idade = 20f;System.out.println(idade);}}
                </i>
                <br />
                <input type="radio">
                <i for="respotaD">
                    public class Idade{public static void main(String[] args){String idade = "20";System.out.println(idade);}}
                </i>
                <br />
                <input type="radio">
                <i for="respotaE">
                    public class Idade{public static void main(String[] args){double idade = 20;System.out.println(idade);}}
                </i>
                <hr />

                <h4>2) Um Senhor Chamado Jõao quer um programa para ele. Um programador quer declarar uma variavel chamada nome armazenando o nome do Jõao .Qual das alternativas ira retornar seu nome de forma correta!</h4>
                <form>
                </form>
                <input type="radio" id="questaoA" name="A" value="radio" checked>
                <i for="respotaA">
                    public class Idade{public static void main(String[] args){String nome = João;System.out.println(nome);}}
                </i>
                <br />
                <input type="radio">
                <i for="respotaB">
                    public class Idade{public static void main(String[] args){String nome = "João";System.out.println(nome);}}
                </i>
                <br />
                <input type="radio">
                <i for="respotaC">
                    public class Idade{public static void main(String[] args){String nome = "João";System.out.println(João);}}
                </i>
                <br />
                <input type="radio">
                <i for="respotaD">
                    public class Idade{public static void main(String[] args){String nome = "João";System.out.println(String);}}
                </i>
                <br />
                <input type="radio">
                <i for="respotaE">
                    public class Idade{public static void main(String[] args){String nome = João;System.out.println(João);}}
                </i>
                <br />
                <input type="submit" value="Confirmar Resposta" />
            </div>

            <div id="div4" class="hidden"><h1>Prova</h1></div>
        </div>

    </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });

    function mostrar(id) {
        $('#pai > div').each(function () {
            $(this).hide();

        });
        $("#" + id).show();
    }

    $('.a').click(function () {
        const link = $(this).attr('href')
        $('iframe').attr('src', link)
    })

    //$('.div-sel').hide();

    //$('#homeSubmenu').on('change', function () {
    //    var selecionado = $(this).val();

    //    $('.div-sel').each(function () {
    //        if ($(this).attr('id') == selecionado) {
    //            $(this).toggle();
    //        } else {
    //            $(this).hide();
    //        }
    //    });
    //});
</script>