@model _30Code.Models.Usuario

@{
    ViewBag.Title = "MeuCertificado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MeuCertificado</h2>

<a asp-action="MeuCertificado" class="btn btn-danger">PDF</a>