
@{
    ViewBag.Title = "SejaPremium";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div name="PagSejaPremium" class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">Pagamento em andamento</h2>
                <p>preencha todos os campos para próxima etapa</p>
                <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Descrição</strong></li>
                        <li id="personal"><strong>Pagamento</strong></li>
                        <li id="payment"><strong>Identificação</strong></li>
                        <li id="confirm"><strong>Confirmação</strong></li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>
                    <!-- fieldsets -->
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Informações do plano:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Passo 1 - 4</h2>
                                </div>
                            </div>

                            <div class="jumbotron p-3 p-md-5 mt-5 rounded bg-light">
                                <div class="col-md-12 px-0">
                                    <h3 class="">
                                        Estude programação se divertindo e aprenda mais
                                    </h3>
                                    <p name="PagSejaPremium" class="lead my-3">
                                        Esta é uma assinatura recorrente:
                                        A assinatura será debitado o valor de R$49,90 mensalmente no seu cartão.
                                    </p>
                                    <p name="PagSejaPremium" class="lead my-3">
                                        Tempo mínimo de permanência:
                                        Mínimo de 12 meses de assinatura.
                                    </p>
                                </div>
                            </div>

                            @*<label class="fieldlabels">Email: *</label>
                                <input type="email" name="email" placeholder="Email Id" />
                                <label class="fieldlabels">Username: *</label>
                                <input type="text" name="uname" placeholder="UserName" />
                                <label class="fieldlabels">Password: *</label>
                                <input type="password" name="pwd" placeholder="Password" />
                                <label class="fieldlabels">Confirm Password: *</label>
                                <input type="password" name="cpwd" placeholder="Confirm Password" />*@
                        </div>
                        <input type="button" name="PagPremium" class="next action-button" value="Próximo" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Pagamento:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Passo 2 - 4</h2>
                                </div>
                            </div>
                            <div class="row mt-5 mb-5">
                                <div class="col-lg-12">
                                    <div class="row col-lg-12">
                                        <label for="card" class="method col-lg-6">
                                            <div class="card-logos">
                                                <img src="https://designmodo.com/demo/checkout-panel/img/visa_logo.png" />
                                                <img src="https://designmodo.com/demo/checkout-panel/img/mastercard_logo.png" />
                                            </div>

                                            <div class="radio-input">
                                                <input name="PagPremium" id="card" type="radio">
                                                Pague R$20.99 com cartão de crédito
                                            </div>
                                        </label>

                                        <label for="paypal" class="method col-lg-6">
                                            <img src="https://designmodo.com/demo/checkout-panel/img/paypal_logo.png" />
                                            <div class="radio-input">
                                                <input name="PagPremium" id="paypal" type="radio">
                                                Pague R$20.99 com PayPal
                                            </div>
                                        </label>
                                    </div>

                                    <div class="row input-fields col-lg-12">
                                        <div class="col-lg-6">
                                            <label for="cardholder">Nome</label>
                                            <input name="PagPremium" type="text" id="cardholder" />
                                        </div>

                                        <div class="col-lg-6">
                                            <label for="cardholder">Numero</label>
                                            <input name="PagPremium" type="text" id="cardholder" />
                                        </div>

                                        <div class="col-lg-3">
                                            <label for="date">Data de validade</label>
                                            <input name="PagPremium" type="text" id="date" />
                                        </div>

                                        <div class="col-lg-3">
                                            <label for="verification">CVC *</label>
                                            <input name="PagPremium" type="password" id="verification" />
                                        </div>

                                        <div class="col-lg-6">
                                            <span class="info">
                                                * CVC é o código de segurança do cartão, número exclusivo de três dígitos no verso do seu cartão, separado do número.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<label class="fieldlabels">First Name: *</label>
                                <input type="text" name="fname" placeholder="First Name" />
                                <label class="fieldlabels">Last Name: *</label>
                                <input type="text" name="lname" placeholder="Last Name" />
                                <label class="fieldlabels">Contact No.: *</label>
                                <input type="text" name="phno" placeholder="Contact No." />
                                <label class="fieldlabels">Alternate Contact No.: *</label>
                                <input type="text" name="phno_2" placeholder="Alternate Contact No." />*@
                        </div>

                        <input type="button" name="PagPremium" class="next action-button" value="Próximo" />
                        <input type="button" name="PagPremium" class="previous action-button-previous" value="Anterior" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Identificação</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Passo 3 - 4</h2>
                                </div>
                            </div>
                            <div class="jumbotron p-3 p-md-5 mt-5 rounded bg-light">
                                <div class="row">
                                    <div class="row col-lg-12">
                                        <p name="PagSejaPremium"><strong>Nome:</strong> Usuário logado</p>
                                    </div>
                                    <div class="row col-lg-12">
                                        <p name="PagSejaPremium"><strong>CPF:</strong> XXX.XXX.XXX.XX</p>
                                    </div>
                                    <div class="row col-lg-12">
                                        <p name="PagSejaPremium"><strong>Cartão:</strong> XXXX.XXXX.XXXX.XXXX</p>
                                    </div>
                                    <div class="row col-lg-12">
                                        <p name="PagSejaPremium"><strong>Vencimento:</strong> XX/XX</p>
                                    </div>
                                    <div class="row col-lg-12">
                                        <p name="PagSejaPremium"><strong>CVC:</strong> XXX</p>
                                    </div>
                                    <div class="row col-lg-12">
                                        <p name="PagSejaPremium"><strong>Titular:</strong> XXX.XXX.XXX.XX</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" name="PagPremium" class="next action-button" value="Próximo" />
                        <input type="button" name="PagPremium" class="previous action-button-previous" value="Anterior" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Confirmação:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Passo 4 - 4</h2>
                                </div>
                            </div>
                            <br>
                            <br>
                            <h2 class="purple-text text-center"><strong>SUCESSO !</strong></h2>
                            <br>
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <img src="https://i.imgur.com/GwStPmg.png" class="fit-image">
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">Parabéns, você acaba de dar o primeiro passo para seu futuro!</h5>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;
        var current = 1;
        var steps = $("fieldset").length;

        setProgressBar(current);

        $(".next").click(function () {

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //Add Class Active
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    next_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(++current);
        });

        $(".previous").click(function () {
            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(--current);
        });

        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
                .css("width", percent + "%")
        }

        $(".submit").click(function () {
            return false;
        })

    });
</script>